absl-py                    
aioice                     
aiortc                  
altair                    
astunparse                 
attrs                      
av                         
blinker                    
cachetools                
certifi                   
cffi                                
charset-normalizer                 
click                              
contourpy                          
cryptography                       
cycler                              
dnspython                          
flatbuffers                          
fonttools                           
gast                               
gitdb                               
GitPython                           
google-auth                         
google-auth-oauthlib               
google-crc32c                      
google-pasta                       
grpcio                              
h5py                                
idna                             
ifaddr                             
importlib-metadata                 
importlib-resources                
Jinja2                              
jsonschema                          
jsonschema-specifications             
keras                               
kiwisolver                         
libclang                            
Markdown                           
markdown-it-py                     
MarkupSafe                         
matplotlib                         
mdurl                              
ml-dtypes                          
numpy                               
oauthlib                           
opencv-python-headless                
opt-einsum                         
packaging                         
pandas                             
Pillow                              
pip                                 
protobuf==3.19                          
pyarrow                             
pyasn1                             
pyasn1-modules                     
pycparser                         
pydeck                              
pyee                                
Pygments                            
pylibsrtp                          
pyOpenSSL                           
pyparsing                          
python-dateutil                    
pytz                          
referencing                         
requests                            
requests-oauthlib                  
rich                                
rpds-py                             
rsa                              
setuptools                          
six                                 
smmap                              
streamlit                           
streamlit-webrtc                    
tenacity                           
tensorboard                         
tensorboard-data-server            
tensorflow                          
tensorflow-estimator                
tensorflow-io-gcs-filesystem        
termcolor                          
toml                                
toolz                               
tornado                            
typing_extensions                  
tzdata                              
tzlocal                                                      
validators                          
watchdog                           
Werkzeug                           
wheel                               
wrapt                   
zipp                      
